{{!-- TODO 
  1. ADD EDIT FUNCTIONALITY FOR PREFERNCES 
  2. DECIDE IF YOU WANT TO ALLOW USERS TO EDIT THEIR EMAIL AND PASSWORD ALSO 
  3. ADD OTHER FIELDS THAT ARE REQUIRED INTERESTS AND OTHER PARAMETERS  --}}

<form method="post" enctype="multipart/form-data">
  <div>
    <label for="name">Name:</label>
    <input type="text" name="name" value="{{user.name}}">
  </div>
  <div>
    <label for="age">Age:</label>
    <input type="number" name="age" value="{{user.age}}">
  </div>


  <div>
    <label for="zip_code"> Update your Zip code to update your location:</label>
    <input type="number" name="zip_code" value="{{user.location.zip}}">
  </div>

  <div>
    <label for="bio">Bio:</label>
    <textarea name="bio">{{user.bio}}</textarea>
  </div>
  <div>
    <label for="image">Profile image:</label>
    <input type="file" name="image">
  </div>
  <div>
    <button type="submit">Save changes</button>
    <a href="/profile/{{user._id}}">Cancel</a>
  </div>
</form>
