{{!-- TODO 
  1. ADD EDIT FUNCTIONALITY FOR PREFERNCES 
  2. DECIDE IF YOU WANT TO ALLOW USERS TO EDIT THEIR EMAIL AND PASSWORD ALSO 
  3. ADD OTHER FIELDS THAT ARE REQUIRED INTERESTS AND OTHER PARAMETERS  --}}

{{!-- <nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/home/{{user._id}}">Meetup</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home/{{user._id}}">Homepage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/potentialMatches/{{user._id}}?distance=all">Potential Matches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile/{{user._id}}">Profile</a>
        </li>
      </ul>
    </div>
  </div>
</nav> --}}

{{!-- srk's code --}}
<div class="container text-center">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/home/{{user._id}}">Meetup</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link btn btn-primary" href="/home/{{user._id}}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-success" href="/matches/{{user._id}}">Matches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-info" href="/potentialMatches/{{user._id}}?distance=all">Potential Matches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-warning" href="/profile/{{user._id}}">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-secondary" href="/messages/{{user._id}}/messages">Messages</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-danger" href="/logout">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-light" href="/delete/{{user._id}}">Delete Account</a>
      </li>
    </ul>
  </div>
</nav>
</div>


<br><br>

<div id="editError" class="error" hidden>
</div>
<form method="post" enctype="multipart/form-data" id="editForm">

  <div>
    <label for="name">Name:</label>
    <input type="text" id= "name" name="name" value="{{user.name}}">
  </div>

  <div>
    <label for="age">Age:</label>
    <input type="number"  id = "age" name="age" value="{{user.age}}">
  </div>

  <div>
    <label for="zip_code"> Update your Zip code to update your location:</label>
    <input type="number" id = "zip_code"  name="zip_code" value="{{user.zip}}">
  </div>

  <div>
    <label for="bio">Bio:</label>
    <textarea id = "bio" name="bio">{{user.bio}}</textarea>
  </div>
  
  <div>
    <label for="image"> Change your Profile image:</label>
    <input type="file" id="image" name="image">
  </div>

  <div>
    <label for="gender">Gender:</label>
    <select id="gender" name="gender">
      <option value="select-gender">Select Gender</option>
      <option value="male">Male</option>
      <option value="female">Female</option>
      <option value="other">Other</option>
      <option value="prefer not to say">Prefer not to say</option>
    </select><br><br>
  </div>

  <div>
    <label for="colleges">University:</label>
    <select id="colleges" name="colleges">

    </select><br><br>
  </div>
  <div>
    <label for="place">A place you want to visit:</label>
    <select id="place" name="places"></select><br><br>
  </div>

  <div>
    <label for="company">Place of Work: </label>
    <input type="text" name="company" id="company" value="{{user.work}}">
  </div>

    <div>
    <label for="gym">Your gym/classes:</label>
    <select id="gym" name="gym"></select><br><br>
  </div>


  <div>
    <button type="submit">Save changes</button>
    <a href="/profile/{{user._id}}">Cancel</a>
  </div>

</form>
<script src="/public/js/edit2.js"></script>

