

<div class="container text-center">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/home/{{user._id}}">Meetup</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link btn btn-primary" href="/home/{{user._id}}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-success" href="/matches/{{user._id}}">Matches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-info" href="/potentialMatches/{{user._id}}?distance=all">Potential Matches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-warning" href="/profile/{{user._id}}">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-secondary" href="/messages/{{user._id}}/messages">Messages</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-danger" href="/logout">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-light" href="/delete/{{user._id}}">Delete Account</a>
      </li>
    </ul>
  </div>
</nav>
</div>
<p style="color: red; font-size: 18px; font-weight: bold; text-align: center;">Your profile is paused, hence you can't view any potential matches. Unpause your profile to check the potential matches.</p>
<!-- jQuery library -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Bootstrap JS file -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>