{{!-- In the view.hbs file, display the user's name, email, city name, and location coordinates.
Include an option for the user to edit their profile. --}}

<div>
  <h1>Profile</h1>
  {{#if user.image.path}}
    <img src="/{{user.image.destination}}/{{user.image.filename}}" alt="Profile image">
  {{else}}
    <p>No image uploaded</p>
  {{/if}}
  <p>Name: {{user.name}}</p>
  <p>Age: {{user.age}}</p>
  <p>City: {{user.city_name}}</p>
  <p>Zip : {{user.zip}}</p>
  <p>Bio: {{user.bio}}</p>
  <p>Preferences : {{user.preferences}}</p>
</div>
  <form method="POST" action="/profile/{{user._id}}/pause">
    <button type="submit">Pause profile</button>
  </form><br><br>
  <a href="/profile/{{user._id}}/edit">Edit profile</a><br><br>
  <a href="/home/{{user._id}}" class="button">Go to Home</a>
  