<p>This is the page for profile</p>

<div class = "profile-pic">
<img src="/{{user.image.destination}}/{{user.image.filename}}" alt="Profile Picture">
</div>

<h1>Name : {{user.name}}</h1>
<h1>Email: {{user.email}}</h1>
<h1>Age: {{user.age}}</h1>
<h1>Gender: {{user.gender}}</h1>
<h1>City: {{user.location.city_name}}</h1>
<h1>Preference: {{user.preferences}}</h1>
{{!-- <h1>{{user.image.destination}}{{user.image.filename}}</h1>  --}}