{{!-- TODO
1. Implement navbar for all handlebar files and update routes for same if current dont work.  
2. MOVE THE SCRIPT FROM THIS PAGE TO JS FOLDER
--}}

<link rel="stylesheet" href="/public/css/potentialmatches.css">

<p> potential matches for the current user, excluded current, liked and disliked users already </p>

<h1>Potential Matches</h1>

<!-- Navbar -->
{{!-- {{> navbar}} --}}



{{!-- <link rel="stylesheet" href="/public/css/matches.css"> --}}

<div id="distanceToggleContainer">
  <button id="showAllProfilesButton" onclick="showAllProfiles()">Show all profiles</button>
  <button id="showWithin5kmButton" onclick="showProfilesWithin5km()">Show profiles within 5km radius only</button>
</div>




<!-- User Card -->
{{#if users}}
  <div id="user-card">
    <h2>{{users.[0].name}}</h2>
    <a href="/potentialMatchesProfile/{{users.[0]._id}}">View Profile</a>
    <img src="/{{users.[0].image.destination}}/{{users.[0].image.filename}}" alt="Profile image">
    <p>{{users.[0].bio}}</p>
    <p>A place I want to visit: {{users.[0].bucketlist}}</p>
    {{#if users.[0].u}}
      <p>You both go to {{{users.[0].university}}}</p>
    {{/if}}
    {{#if users.[0].w}}
      <p>You both work at {{{users.[0].work}}}</p>
    {{/if}}
    {{#if users.[0].g}}
      <p>You both workout at {{{users.[0].gym}}}</p>
    {{/if}}

    <form method="POST" action="/potentialMatches/{{users.[0]._id}}/like?distance={{../distance}}">
      <button type="submit">Like</button>
    </form>
    <form method="POST" action="/potentialMatches/{{users.[0]._id}}/dislike?distance={{../distance}}">
      <button type="submit">Dislike</button>
    </form>
  </div>
{{else}}
  <p>No potential matches found.</p>
{{/if}}

<!-- Navigation Buttons -->
<div id="navigation-buttons">
  <button id="previous-button" onclick="showPreviousUser()">Previous</button>
  <button id="next-button" onclick="showNextUser()">Next</button>
</div>

<!-- Script -->
<script src="/public/js/potentialMatch.js"></script>