<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/home/{{userId}}">Meetup</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home/{{userId}}">Homepage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/matches/{{userId}}">Matches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/potentialMatches/{{userId}}?distance=all">Potential Matches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile/{{userId}}">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/messages/{{userId}}/messages">Messages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<br><br>


<div class="container">
  <div class="row">
    <div class="col text-center">
      <div id="distanceToggleContainer">
        <button class="btn btn-primary" id="showAllProfilesButton" onclick="showAllProfiles()">Show all profiles with some commonality</button>
        <button class="btn btn-primary" id="showWithin5kmButton" onclick="showProfilesWithin5km()">Show profiles within 5km radius only</button>
      </div>
    </div>
  </div>
</div>

<br>


<div class="d-flex justify-content-center">
  <div class="card" style="width: 18rem;">
    {{#if users}}
    <img class="card-img-top" src="/{{users.[0].image.destination}}/{{users.[0].image.filename}}" alt="Profile image">
      <div class="card-body">
        <h5 class="card-title">{{users.[0].name}}</h5>
        <p class="card-text">{{users.[0].bio}}</p>
        <p class="card-text">A place I want to visit: {{users.[0].bucketlist}}</p>
        {{#if users.[0].u}}
        <p class="card-text">You both went to {{{users.[0].university}}}</p>
        {{/if}}
        {{#if users.[0].w}}
        <p class="card-text">You both work at {{{users.[0].work}}}</p>
        {{/if}}
        {{#if users.[0].g}}
        <p class="card-text">You both workout at {{{users.[0].gym}}}</p>
        {{/if}}
        
        <div class="text-center">
        <a href="/potentialMatchesProfile/{{users.[0]._id}}" class="btn btn-dark">View Profile</a>
        <br> <br>
        <form class="card-body d-inline" method="POST" action="/potentialMatches/{{users.[0]._id}}/like?distance={{distance}}">
          <button type="submit" class="btn btn-success">Like</button>
        </form> <br> <br>
        <form class="card-body d-inline" method="POST" action="/potentialMatches/{{users.[0]._id}}/dislike?distance={{distance}}">
          <button type="submit" class="btn btn-danger">Dislike</button>
        </form>
        <br>
      </div>
      </div>
    {{else}}
    <div class="card-body">
      <p class="card-text">No potential matches found.</p>
    </div>
    {{/if}}
  </div>
</div>




<script src="/public/js/potentialMatch.js"></script>