{{!-- TODO
1. Implement navbar for all handlebar files and update routes for same if current dont work.  
2. MOVE THE SCRIPT FROM THIS PAGE TO JS FOLDER
--}}

<p> potential matches for the current user, excluded current, liked and disliked users already </p>

<h1>Potential Matches</h1>

<a href="/home/{{userId}}" class="button">Go to Home</a>

<div id="distanceToggleContainer">
  <button id="showAllProfilesButton" onclick="showAllProfiles()">Show all profiles</button>
  <button id="showWithin5kmButton" onclick="showProfilesWithin5km()">Show profiles within 5km radius only</button>
</div>


{{#if users}}
  <ul>
    {{#each users}}
      <li>
        <h2>{{this.name}}</h2>
        <img src="/{{this.image.destination}}/{{this.image.filename}}" alt="Profile image">
        <p>{{this.bio}}</p>
        <p>A place I want to visit: {{this.bucketlist}}</p>
        <a href="/potentialMatchesProfile/{{this._id}}">View Profile</a>
        {{#if flag===1}}
          <p>You both go to {{{this.university}}}</p>
        {{#if flag===2}}
          <p>You both work at {{{this.work}}}</p>
        {{#if flag===3}}
          <p>You both workout at {{{this.gym}}}</p>
        {{/if}}

        <form method="POST" action="/potentialMatches/{{this._id}}/like">
          <button type="submit">Like</button>
        </form>
        <form method="POST" action="/potentialMatches/{{this._id}}/dislike">
          <button type="submit">Dislike</button>
        </form>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>No potential matches found.</p>
{{/if}}

<script>
const url = new URL(window.location.href);
const distance = url.searchParams.get("distance");

if (distance === "all") {
  document.getElementById("showAllProfilesButton").style.display = "none";
} else {
  document.getElementById("showWithin5kmButton").style.display = "none";
}

function showAllProfiles() {
  const url = new URL(window.location.href);
  url.searchParams.set("distance", "all");
  window.location.href = url.toString();
}

function showProfilesWithin5km() {
  const url = new URL(window.location.href);
  url.searchParams.set("distance", "5km");
  window.location.href = url.toString();
}

</script>
