
{{!-- TODO
1. Implement navbar for all handlebar files and update routes for same if current dont work.  --}}


<p> potential matches for the current user, excluded current, liked and disliked users already </p>

<h1>Potential Matches</h1>

{{#if users}}
  <ul>
    {{#each users}}
  <li>
    <h2>{{this.name}}</h2>
    <img src="/{{this.image.destination}}/{{this.image.filename}}" alt="Profile image">
    <p>{{this.bio}}</p>
    <a href="/potentialMatchesProfile/{{this._id}}">View Profile</a>
    <form method="POST" action="/potentialMatches/{{this._id}}/like">
      <button type="submit">Like</button>
    </form>
    <form method="POST" action="/potentialMatches/{{this._id}}/dislike">
      <button type="submit">Dislike</button>
    </form>
  </li>
{{/each}}
  </ul>
{{else}}
  <p>No potential matches found.</p>
{{/if}}