{{!-- <p>
    this is the first page after successfull login by the user 
</p> --}}
 
{{!-- <link rel="stylesheet" type="text/css" href="/public/css/homepage.css"> --}}
<link rel="stylesheet" href="/public/css/matches.css">
<h1>Welcome to our app!</h1>
    <p>You have successfully logged in.</p>
    {{!-- <ul>
  <li><a href="/home/{{user._id}}" class="button">Home</a></li>
  <li><a href="/matches/{{user._id}}" class="button">Matches</a></li>
  <li><a href="/potentialMatches/{{user._id}}?distance=all" class="button">Potential Matches</a></li>
  <li><a href="/profile/{{user._id}}" class="button">Profile</a></li>
  <li><a href="/messages/{{user._id}}/messages" class="button">Messages</a></li>
  <li><a href="/logout" class="button">logout</a></li>
</ul> --}}

  <ul style="list-style: none; display: flex; justify-content: space-between; align-items: center; background-color: #333; padding: 10px;">
    <li style="margin-right: auto;">
      <a href="/home/{{user._id}}" class="button" style="color: white; text-decoration: none;">Home</a>
      {{!-- <button type="submit",name="home"></button> --}}
      {{!-- <li><a href="/home/{{user._id}}" class="button">Home</a></li> --}}
    </li>
    <li style="margin-right: 10px;">
      <a href="/matches/{{user._id}}" class="button" style="color: white; text-decoration: none;">Matches</a>
      {{!-- <li><a href="/matches/{{user._id}}" class="button">Matches</a></li> --}}
      {{!-- <button type="submit",name="Matches"></button> --}}
    </li>
    <li style="margin-right: 10px;">
      <a href="/potentialMatches/{{user._id}}?distance=all" class="button" style="color: white; text-decoration: none;">Potential Matches</a>
       {{!-- <li><a href="/potentialMatches/{{user._id}}?distance=all" class="button">Potential Matches</a></li> --}}
       {{!-- <button type="submit",name="Potential Matches"></button> --}}
    </li>
    <li style="margin-right: 10px;">
      <a href="/profile/{{user._id}}" class="button" style="color: white; text-decoration: none;">Profile</a>
      {{!-- <li><a href="/profile/{{user._id}}" class="button">Profile</a></li> --}}
      {{!-- <button type="submit",name="Profile"></button> --}}
    </li>
    <li style="margin-right: 10px;">
      <a href="/messages/{{user._id}}/messages" class="button" style="color: white; text-decoration: none;">Messages</a>
     {{!-- <li><a href="/messages/{{user._id}}/messages" class="button">Messages</a></li> --}}
     {{!-- <button type="submit",name="Messages"></button> --}}
    </li>
    <li style="margin-right: 10px;">
      <a href="/logout" class="button" style="color: white; text-decoration: none;">Logout</a>
      {{!-- <button type="submit",name="Logout"></button> --}}
    </li>
  </ul>



