{{!-- <p>
    this is the first page after successfull login by the user 
</p> --}}
 
{{!-- <link rel="stylesheet" type="text/css" href="/public/css/homepage.css"> --}}
<link rel="stylesheet" href="/public/css/matches.css">
<h1>Welcome to our app!</h1>
    <p>You have successfully logged in.</p>

<li><a href="/delete/{{user._id}}" id="delete-account" class="button">delete account</a></li>

  <ul style="list-style: none; display: flex; justify-content: space-between; align-items: center; background-color: #333; padding: 10px;">
    <li style="margin-right: auto;">
      <a href="/home/{{user._id}}" class="button" style="color: white; text-decoration: none;">Home</a>

    </li>
    <li style="margin-right: 10px;">
      <a href="/matches/{{user._id}}" class="button" style="color: white; text-decoration: none;">Matches</a>

    </li>
    <li style="margin-right: 10px;">
      <a href="/potentialMatches/{{user._id}}?distance=all" class="button" style="color: white; text-decoration: none;">Potential Matches</a>

    </li>
    <li style="margin-right: 10px;">
      <a href="/profile/{{user._id}}" class="button" style="color: white; text-decoration: none;">Profile</a>

    </li>
    <li style="margin-right: 10px;">
      <a href="/messages/{{user._id}}/messages" class="button" style="color: white; text-decoration: none;">Messages</a>

    </li>
    <li style="margin-right: 10px;">
      <a href="/logout" class="button" style="color: white; text-decoration: none;">Logout</a>
    </li>
  </ul>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/public/js/homepage_delete.js"></script>



